body{
    background-color: #AED8CC;
}
h2{
    font-family:'Courier New', Courier, monospace;
    color:burlywood;
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:indigo;
    text-align: center;
    background-color: #5B9A8B;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

#cap-1{
    text-align: center;
    background-color: #7A316F;
}

#cap-2{
    text-align: center;
    background-color: #CD6688;
}

#cap-3{
    text-align: center;
    background-color: #461959