body{
    /* background-image: url("./assets/images/9219.jpg"); */
    display: flex;
      height: 100vh;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
}

@media (max-width: 1250px) {
    
     .textimg{
        flex-direction: column;
     }
    img{
        object-fit:cover;
    } 
    
     }

.page1{
    display: grid;
    height: 100%;
    width: 900px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    

}
.textimg{
    display: inline-flex;
    grid-column: span 10;
}

img{
    padding: 0;
    margin-left: 10px;
    border-radius: 5%;

}

h2{
    font-family:'Courier New', Courier, monospace;
    color:burlywood;
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 20px;
    min-width: 300px;
}

h1{
    color:indigo;
    text-align: center;
    background-color: #5B9A8B;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    grid-column: span 10;
    padding: 0;
    margin: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#cap-1{
    text-align: center;
    background-color: #7A316F;
    grid-column: span 10;
    border-radius: 5px;
}
a{
    margin: 0;
    padding: 0;

}

#cap-2{
    text-align: center;
    background-color: #CD6688;
    grid-column: span 10;
    border-radius: 5px;
}

#cap-3{
    text-align: center;
    background-color: #461959;
    grid-column: span 10;
    border-radius: 5px;
}

#cap-4{
    text-align: center;
    background-color:darkcyan;
}
.rodape{
    margin-top: 20px;
    height: 50px;
    display: inline-flex;
    grid-column: span 10;
    justify-content:space-between;
    background-color: #461959;
    border-radius: 5px;
}
button{
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
    background-color:burlywood;
    border-radius: 15px;
    border: solid #461959;
    color:#7A316F;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
}
button:hover {
	background-color:#CD6688;
}

